dn: dc={{ short_domain }},dc={{ long_domain.split(".")[1] }}
dc: {{ short_domain }}
objectClass: top
objectClass: domain

dn: cn=ldapadm ,dc={{ short_domain }},dc={{ long_domain.split(".")[1] }}
objectClass: organizationalRole
cn: ldapadm
description: LDAP Manager

dn: ou=People, dc={{ short_domain }},dc={{ long_domain.split(".")[1] }}
objectClass: organizationalUnit
ou: People

dn: ou=Group, dc={{ short_domain }},dc={{ long_domain.split(".")[1] }}
objectClass: organizationalUnit
ou: Group
