{% set multi_user = [0] %}
{% for user_dict in ldap_users %}
{% for user, user_info in user_dict.items() %}
{% if user not in user_list.stdout %}
{% if multi_user.append(multi_user.pop() + 1) %}{% endif %}
{% if multi_user > 1 %}

{% endif %}
dn: uid={{ user }},ou=People,dc={{ short_domain }},dc={{ long_domain.split('.')[1] }}
objectClass: top
objectClass: account
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ user }}
uid: {{ user }}
uidNumber: {{ user_info.uid }}
gidNumber: {{ user_info.gid|default("1005", true) }}
homeDirectory: /home/{{ user }}
loginShell: /bin/bash
gecos: {{ user_info.description }}
userPassword: {{ ldap_passwd }}
shadowLastChange: 17058
shadowMin: 0
shadowMax: 99999
shadowWarning: 7
{% endif %}
{% endfor %}
{% endfor %}
